@charset "UTF-8";

#selectyear {
	width: 100px;
	height: 45px;
	font-size: 20px;
}

h4 {
	display: inline;
}

form {
	position: relative;
	margin-left: 82%;
	width:312px;
	height:64px;
}

.delbtn {
	background-color: rgba(0, 0, 1, 0);
	color: aliceblue;
	font-size: 4em;
	margin-top: 3%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border: solid white;
}

.copyright {
	font-size: 20px;
}
p{font-family: 'WandohopeR';}
h1{font-family:'KimjungchulMyungjo-Bold';}
h2{font-family:'KimjungchulMyungjo-Bold' ;}
h3{font-family:'KimjungchulMyungjo-Bold' ;}
h4{font-family:'WandohopeR' ;}
h5{font-family:'WandohopeR' ;}
span{font-family:'KimjungchulMyungjo-Bold';font-color : '#344767';}

.jh{
	position: absolute;
	bottom : -5px;
	left : 210px;
}

input[type=submit] {
border-top-left-radius : 10px;
border-top-right-radius : 10px;
border-bottom-left-radius : 10px;
border-bottom-right-radius : 10px;
margin-left:-3px;
margin-top:-20px;
border : 1px solid #3a416f;
background-color : white;
padding : 5px;
height : 45px;
width : 60px;
}
input[type=submit]:hover{
color:white;
background-color:#3a416f;}

#selectyear {
border-top-left-radius : 10px;
border-top-right-radius : 10px;
border-bottom-left-radius : 10px;
border-bottom-right-radius : 10px;
border : 1px solid #3a416f;
background-color : white;
padding : 5px;
}

#back{
border-top-left-radius : 10px;
border-top-right-radius : 10px;
border-bottom-left-radius : 10px;
border-bottom-right-radius : 10px;
border : 1px solid #3a416f;
background-color : white;
padding : 5px;
height : 45px;
width : 150px;
margin-right:95%;
position: absolute;
right: 1400px;
}

#back:hover{
color:white;
background-color:#3a416f;}

#popular:hover{
color:green;
}


            





